[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tzdata = "*"
pytz = "*"
ftputil = "*"

[dev-packages]
pytest = "*"
mypy = "*"
types-pytz = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
furo = "*"
black = "*"
esbonio = "*"

[requires]
python_version = "3.9"
